.container{
    margin:auto;
    display: grid;
    grid-template-areas: "a"
                         "b";
    
}
.topArea{
    grid-area: a;
    margin: auto;

}

.eventContainer{
    margin:auto;
    grid-area: b;
    width:60vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.listItem{
    object-fit: contain;

    border:solid;
    margin:15px;
    height: 300px;
    width: 300px;

    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    

}
.listItemContent{
    background-image: linear-gradient(to top,white,rgb(255, 255, 255,0.75));
    width: 100%;
    position: absolute;
    bottom: 0;
}
.listItemButtons{
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-around  
}
@media only screen and (max-width: 770px) {
    .listItem{
        object-fit: contain;
        border:solid;
        margin:10px;
        height: 150px;
        width: 150px;
    
        background-repeat: no-repeat;
        background-position: center; 
        position: relative;
}

}

@media only screen and (max-width: 600px) {
    .listItem{
        object-fit: contain;
        border:solid;
        margin:10px;
        height: 150px;
        width: 150px;
    
        background-repeat: no-repeat;
        background-position: center; 
        position: relative;
}
.topArea{
    grid-area: a;
    margin:auto;

}
.eventContainer{
    margin: 15px;
    grid-area: b;
    width:100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
}