.container{

    margin:auto;
    display: grid;
    grid-template-areas: "a"
                         "b";
    
}
.imageDiv{
    grid-area: a;
    margin-left: 32vw;
    position: relative;
}
    .image{
        width:300px;
        height:400px;
       object-fit: contain
    }
    .title{
    background-image: linear-gradient(to top,white,rgb(255, 255, 255,0.90));
    width: 400px;
    position: absolute;
    bottom: -20px;
    height: 35%;
    align-content: flex-end
    }   
.infoContainer{
    grid-area: b;
    display: flex;
}
.descDiv{
    margin-left: 10vw;

    width:40vw;
}
.mapContainer{
    margin-right: 10vw;

    width:40vw;
}
